apiVersion: 1

providers:
  - name: hero2-default
    orgId: 1
    folder: ''
    type: file
    disableDeletion: true
    editable: true
    updateIntervalSeconds: 30
    allowUiUpdates: false
    options:
      path: /etc/grafana/dashboards
      foldersFromFilesStructure: false
